<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flights</title>
</head>
<body>
<h1>Flights</h1>
<table>
    <thead>
    <tr>
        <th>ID</th><th>Group</th><th>Status</th><th>Fare Adult</th><th>Fare Child</th><th>Fare Infant</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="flight : ${flights}">
        <td th:text="${flight.id}"></td>
        <td th:text="${flight.groupName}"></td>
        <td th:text="${flight.status}"></td>
        <td th:text="${flight.fareAdult}"></td>
        <td th:text="${flight.fareChild}"></td>
        <td th:text="${flight.fareInfant}"></td>
    </tr>
    </tbody>
    </table>
</body>
</html>
